.send-to-friend a{
   float: none;
   display: inline-flex;
}

.header-image-box{
   background-size: contain !important;
}

#confirm-numbers .row{
   margin-bottom: 1em;
}

.inf-stay .label-text span{
   margin-left: 0!important;
}
.inf-stay .label-text{
   display: inline-block;
}
.amenities-wrap .amenities-descr{
   padding: 0 10px;
}
.amenities-wrap .img-size{
   padding: 0 0 15px 0;
}

.amenities-descr .amen-desc-cont{
   padding: 0px;
}

.send-to-friend{
   padding: 0px;
}

.payment-breakdown-wrap {
   padding-right: 0px;
}

.col-two-third{
   padding: 0px;
}

#itin-final-main{
   font-size: 12px;
}

.options-area h5{
   text-align: start;
}
.reserv-input-control{
   padding: .375rem 0;
}

.reserv-input-control.reserv-radio{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}
.reserv-radio input[type="radio"]{
   display: none;
   opacity: 0;
}
.reserv-input-control .input-append{
   display: flex;
   align-items: center;
   justify-content: flex-end;
   background-color: #ced4da;
   /* border: 1px solid #ced4da; */
   border-radius: 0 .25rem .25rem 0;
   padding-right: 1.25rem;
   width: 125px;
}
.reserv-input-control .input-append .append-text{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   font-size: .85rem;
   font-weight: 600;
}
.append-text span{
   font-size: 1.2rem;
}
.append-text span:last-of-type{
   font-weight: normal;
   font-size: .75rem;
}
.reserv-input-control .input-content{
   border: 1px solid #ced4da;
   border-radius: .25rem 0 0 .25rem;
   flex: 1;
}
.reserv-input-control .input-content label{
   display: inline-block;
   position: relative;
   margin: 10px 5px 10px 2.5em!important;
   font-size: 0.8rem;
   line-height: 1.5;
}
.reserv-input-control .input-content label::after{
   position: absolute;
   top: 2%;
   left: -1.5rem;
   display: block;
   width: 1rem;
   height: 1rem;
   content: "";
   background: no-repeat 50%/50% 50%;
}
.reserv-input-control .input-content label::before{
   position: absolute;
   top: 2%;
   left: -1.5rem;
   display: block;
   width: 1rem;
   height: 1rem;
   pointer-events: none;
   content: "";
   background-color: #fff;
   border: #adb5bd solid 1px;
   border-radius: 50%;
   transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.reserv-radio input[type="radio"]:checked~.input-content>label::before{
   color: #fff;
   border-color: #33c5ff;
   background-color: #33c5ff;
}
.reserv-radio input[type="radio"]:checked~.input-content>label::after{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.reserv-radio input[type="radio"]:checked~.input-content{
   border-color: #33c5ff!important;
}
.reserv-radio input[type="radio"]:checked~.input-append{
   background-color: #33c5ff!important;
   color:#fff;
   /* border: 1px solid #33c5ff!important; */
}
.reserv-radio input[type="radio"]:checked .input-content{
   border-color: #33c5ff!important;
}

@media screen and (max-width: 992px){
   .payment-breakdown-wrap .inner .col-third {
      flex: 0 0 95%;
   }
}

@media screen and (max-width: 991px){
   .amenities-wrap .amenities-descr{
      padding: 10px 0 0 0;
   }
}

@media screen and (max-width: 800px){
   #itin-final .green{
      padding: 10px 10px;
      font-size: 12px;
   }

   #itin-final .itin-final-sub h3{
      font-size: 1em;
   }
}

@media screen and (max-width: 768px){
   .icon-space i{
      padding-bottom: 0px !important;
      width: initial!important;
   }
   .icon-space>span{
      padding-bottom: 3%;
   }
   .icon-space .span-time{
      padding-bottom: 3%;
   }
   .padding-L-0{
      padding-left: 7.5px !important;
      padding-right: 7.5px !important;
   }

   #itin-final .green{
      padding: 10px 10px;
      font-size: 12px;
   }

   #itin-final #itin-final-sub h3{
      font-size: 1.25em;
   }
}

@media screen and (max-width: 767px){
   .f16px{
      margin-bottom: 2% !important;
   }
}

@media screen and (max-width: 629px){
   .amenities-wrap .amenity-info{
      width: initial !important;
   }
}

@media screen and (max-width: 560px){
   .f16px{
      margin-bottom: 3.5% !important;
   }
}

@media screen and (max-width: 480px){
   .reserv-input-control .input-append{
      border-radius: 0 .25rem .25rem 0;
      padding-right: .75rem;
      width: 100px;
   }
   .reserv-input-control .input-append .append-text{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-size: .85rem;
      font-weight: 600;
   }
   .append-text span{
      font-size: 1rem;
   }
   .append-text span:last-of-type{
      font-weight: normal;
      font-size: .6rem;
   }
}

@media screen and (max-width: 450px){
   #hotel_info{
      padding-left: 15px;
      padding-right: 15px;
   }
}

@media screen and (max-width: 340px){
   #hotel_info .label{
      font-size: 11px !important;
   }
}

